@page "/counter"
@using static BlazorMovies.Client.Shared.MainLayout
@inject SingletonService singleton
@inject TransientService transeint
@inject IJSRuntime js

<h1 style="color: @appParameter.Color;font-size: @appParameter.Size">Counter</h1>

<p>Current count: @currentCount</p>
<p>Singleton count: @singleton.Value</p>
<p>Transient count: @transeint.Value</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter] public AppParameter appParameter { get; set; }
    private int currentCount = 0;
    private static int currentCountstatic = 0;
    private async Task IncrementCount()
    {

        currentCount++;
        currentCountstatic++;
        transeint.Value++;
        singleton.Value++;
        //call a javascript method that called c# method
        await js.InvokeVoidAsync("dotnetStaticInvocation");
    }
    //this method called from javascript in wwwroot\js\utility.js
    [JSInvokable]
    public static Task<int> GetCurrentCount()
        {
            return Task.FromResult(currentCountstatic);
        }
}
